{{ define "_chata" }}
  <div id="v-tabs">
    <div id="v-tabs-btns" class="clearfix">
      <button id="tb-chat" class="btn-rb tab-btn">
        <span class="ra-lbl">
          {{ re "Chat" }}
        </span>
      </button>
      <button id="tb-users" class="btn-rb tab-btn">
        <span class="ra-lbl">
          {{ re "Participants" }}
        </span>
      </button>
      <button id="tb-settings" class="btn-rb tab-btn">
        <span class="ra-lbl">
          {{ re "Settings" }}
        </span>
      </button>
      <button id="tb-logs" class="btn-rb tab-btn">
        <span class="ra-lbl">
          {{ re "Logs" }}
        </span>
      </button>
    </div>
    {{ template "_ta_chat" }}
    {{ template "_ta_users" . }}
    {{ template "_ta_settings" }}
    {{ template "_ta_logs" }}
  </div>
{{ end }}
