{{ define "_reca" }}
  {{ if (index . "recserv") }}
    <div class="lbl-tha">
      <button id="tg-rec-serv" class="btn-rb hint-able" data-hint="{{ re "Start record on the server" }}">
        <span class="ra-ico">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="#575757" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9.036a3.485 3.485 0 0 1 1.975.99M4 12.5A3.5 3.5 0 0 0 7.5 16h9.75a2.75 2.75 0 0 0 .734-5.4A5 5 0 0 0 8.37 9.108 3.5 3.5 0 0 0 4 12.5z"/></svg>
        </span>
      </button>
      <a class="lbl-tha"
         id="li-re"
         href=""
         download=""
         data-he="{{ ro "vi" "xxx" "yyy" }}"
         data-re="{{ ro "vi_rem" }}"
         ></a>
    </div>
  {{ end }}
  <div class="lbl-tha">
    <button id="tg-rec" class="btn-rb hint-able" data-hint="{{ re "Start record on the client" }}">
      <span class="ra-ico">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="#575757" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 4H6a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.828a2 2 0 0 0-.586-1.414l-1.828-1.828A2 2 0 0 0 16.172 4H15M8 4v4a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V4M8 4h7M7 17v-3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v3"/></svg>
      </span>
    </button>
  </div>
{{ end }}
