{{ define "_ta_settings" }}
  <div id="ta-settings" class="v-tabs-content mid">
    <div class="middle-container">
      <div id="mc-au" class="hid-set-con">
        <div class="set-header">
          {{ re "Sound" }}
        </div>
        <ul id="set-list-au" class="ta-set-list">
        </ul>
        <ul id="set-ch-au" class="ta-set-list">
          <li id="echoCancellation" class="item-set-au sel">
            <div class="set-rec"></div>
            <div class="set-label">{{ re "Echo cancellation" }}</div>
          </li>
          <li id="noiseSuppression" class="item-set-au sel">
            <div class="set-rec"></div>
            <div class="set-label">{{ re "Suppress background noise" }}</div>
          </li>
          <li id="autoGainControl" class="item-set-au sel">
            <div class="set-rec"></div>
            <div class="set-label">{{ re "Automatically adjust microphone volume" }}</div>
          </li>
        </ul>
      </div>
      <div id="mc-vi" class="hid-set-con">
        <div class="set-header">
          {{ re "Video" }}
        </div>
        <ul id="set-list-vi" class="ta-set-list">
        </ul>
      </div>
    </div>
  </div>
{{ end }}
