{{ define "dlg" }}
  <div id="dlg-screen">
    <div id="dlg-container">
      <span id="dlg-close">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24">
          <g stroke="#ffffff" stroke-width="2"><path stroke-linecap="round" d="m9 15 6-6m0 6L9 9"/></g>
        </svg>
      </span>
      <div id="dlg-content">
        <div id="dlg-header">
        </div>
        <div id="dlg-msg">
        </div>
        <div id="dlg-btns">
        </div>
      </div>
    </div>
  </div>
{{ end }}
