{{ define "title" }}{{ re "Chat settings" }}{{ end }}
{{ define "styles" }}
  <link rel="stylesheet" type="text/css" href="/static/css/elems/ix.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/elems/room.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/elems/tabs.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/elems/loga.css" />
{{ end }}
{{ define "content" }}
  {{ $info := (index . "info") }}
  <div id="ws-main">
    <div id="ws-cont-screen">
      <div id="ws-cont">
        <div class="ws-header">
          {{ re "Chat settings" }}
        </div>
        <div class="form-cbs-cont clearfix">
          {{ template "camic" (index $info "camic")}}
        </div>
        <div id="ws-form-cont">
          <div class="inp-con-ico">
            <div class="inp-wid-cont">
              <span class="ws-frm-ico">
                <svg width="20px" height="20px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
                  <g id="User">
                  <g><path d="M49,19c0,9.4-7.6,17-17,17s-17-7.6-17-17S22.6,2,32,2S49,9.6,49,19z" fill="#78C072"></path></g>
                  <g><path d="M52,50v10c0,1.1-0.9,2-2,2H14c-1.1,0-2-0.9-2-2V50c0-5.5,4.5-10,10-10h20C47.5,40,52,44.5,52,50z" fill="#0E9688"></path></g>
                  </g>
                </svg>
              </span>
              <input class="inp-wid" type="text" id="nik-name" value="{{ index $info "nikin" }}" placeholder="{{ re "Enter name" }}" />
            </div>
          </div>
          <div class="form-btns clearfix">
            <input id="uqroom" type="hidden" value="{{ index $info "uqroom" }}">
            {{ if gt (len (index $info "st")) 0 }}
              <input id="start-now" type="hidden" value=1 />
            {{ end }}
            <button id="start-ws" href="{{ ro ("ws_me_start") }}" class="form-btn flo">{{ re "Start chat" }}</button>
            <a id="ws-back" href="{{ ro ("home") }}" class="link-back">{{ re "Back" }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
{{ define "scripts" }}
  <script src="/static/external/js/axios.js"></script>
  <script src="/static/js/inc/funcs.js"></script>
  <script src="/static/js/inc/lang.js"></script>
  <script src="/static/js/elems/saver.js"></script>
  <script src="/static/js/elems/saver_client.js"></script>
  <script src="/static/js/elems/resie.js"></script>
  <script src="/static/js/elems/taber.js"></script>
  <script src="/static/js/elems/loga.js"></script>
  <script src="/static/js/elems/talkerhandler.js"></script>
  <script src="/static/js/elems/wschat.js"></script>
  <script src="/static/js/elems/ix.js"></script>
{{ end }}
