{{ define "title" }}{{ re "Chat settings" }}{{ end }}
{{ define "styles" }}
  <link rel="stylesheet" type="text/css" href="/static/css/elems/ix.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/elems/room.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/elems/tabs.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/elems/loga.css" />
{{ end }}
{{ define "content" }}
  {{ $info := (index . "info") }}
  <div id="ws-main">
    <div id="ws-cont-screen">
      <div id="ws-cont">
        <div class="ws-header">
          {{ re "Chat settings" }}
        </div>
        <div class="form-cbs-cont clearfix">
          {{ template "camic" (index $info "camic")}}
        </div>
        <div id="ws-form-cont">
          <input class="inp-wid" type="text" id="nik-name" value="{{ index $info "nikin" }}" placeholder="{{ re "Enter name" }}" />
          <div class="form-btns clearfix">
            <input id="uqroom" type="hidden" value="{{ index $info "uqroom" }}">
            {{ if gt (len (index $info "st")) 0 }}
              <input id="start-now" type="hidden" value=1 />
            {{ end }}
            <button id="start-ws" href="{{ ro ("ws_me_start") }}" class="form-btn flo">{{ re "Start chat" }}</button>
            <a id="ws-back" href="{{ ro ("home") }}" class="link-back">{{ re "Back" }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
{{ define "scripts" }}
  <script src="/static/external/js/axios.js"></script>
  <script src="/static/js/inc/funcs.js"></script>
  <script src="/static/js/inc/lang.js"></script>
  <script src="/static/js/elems/saver.js"></script>
  <script src="/static/js/elems/saver_client.js"></script>
  <script src="/static/js/elems/resie.js"></script>
  <script src="/static/js/elems/taber.js"></script>
  <script src="/static/js/elems/loga.js"></script>
  <script src="/static/js/elems/talkerhandler.js"></script>
  <script src="/static/js/elems/wschat.js"></script>
  <script src="/static/js/elems/ix.js"></script>
{{ end }}
