#loga-cont {
  display: none;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 75px);
  background-color: #2e2e2e;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

#loga-cont.show {
  display: block;
}

#loga-list {
  max-height: 100%;
  overflow-y: auto;
}

#loga-list li {
  padding: 15px;
  overflow: auto;
}

#loga-list li + li {
  border-top: 1px solid #3e3e3e;
}

#loga-list li.err {
  color: #ffc994;
}
