#set-panel {
  position: fixed;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #272727;
}

#set-panel .lbl-tha + .lbl-tha {
  margin-left: 0.5%;
}

#set-panel .lbl-tha.hid {
  display: none;
}

#share-screen.on svg path {
  stroke: #c7c7c7;
}

#tg-rec.on svg path {
  stroke: #c7c7c7;
}

#tg-rec-serv.on svg path {
  stroke: #c7c7c7;
}

#tg-tiles.on svg path {
  stroke: #c7c7c7;
}

#li-re {
  display: none;
}

#talkers-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 75px);
}

#talkers {
  position: relative;
  width: 100%;
}

#talkers.fle {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#talkers.gr {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(3, 33.33%);
  height: auto;
  margin: auto;
}

#talkers.gr .vw.one {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
  max-width: 900px;
  max-height: calc(900px  * 0.75);
}

.vw {
  position: relative;
  display: inline-block;
  background-color: #2f2f2f;
  line-height: 0;
}

.vw.speak:after {
  content: '';
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 3px solid #0f0;
}

.vw audio {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
}

.vw .talker-nik {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  line-height: 16px;
  top: 0;
  left: 0;
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 100%;
  border: 1px solid #474747;
}

.vw .talker-nik span {
  display: inline-block;
}

.vw .talker-nik .talker-nik-s {
  display: none;
}

.vw.cam .talker-nik {
  font-size: 12px;
  line-height: 14px;
  width: auto;
  height: auto;
  padding: 5px 15px 7px 15px;
  border: none;
  border-radius: 0;
}

.vw.screen-on .talker-nik {
  display: none;
}

.vw video {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  opacity: 0;
}

.vw.cam video,
.vw.screen-on video {
  opacity: 1;
}

.screen-on #talkers .vw:not(.screen-on) {
  display: none;
}

#talkers .vw.screen-on {
  background-color: #272727;
  box-shadow: none;
}

#talkers .vw.screen-on video {
  width: auto;
  margin: auto;
}

/*
* MEDIA
*/

@media (max-width: 640px) {
  .vw .talker-nik .talker-nik-s {
    display: inline-block;
  }

  .vw .talker-nik .talker-nik-f {
    display: none;
  }
}
