#v-tabs {
  position: absolute;
  z-index: 5;
  width: 35%;
  right: 50%;
  transform: translateX(50%);
  top: -100%;
  height: calc(100% - 75px);
  transition: top 0.2s ease, opacity 0.5s ease;
  border-radius: 0 0 13px 13px;
  overflow: hidden;
  opacity: 0;
}

#v-tabs.sh {
  opacity: 1;
  top: 75px;
}

.tab-btn-han.act {
  background-color: #070707;
  box-shadow: 0px 0px 1px inset #777;
  outline: none;
  border: none;
}

.tab-btn-han.notif:before,
#v-tabs-btns .tab-btn.notif:before {
  position: absolute;
  content: '';
  top: 3px;
  right: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff5511;
}

#v-tabs-btns .tab-btn {
  position: relative;
  justify-content: left;
  padding-left: 13px;
  float: left;
  width: 33.33%;
  background-color: #070707;
  border: none;
  border-radius: 13px 13px 0 0;
}

#v-tabs-btns .tab-btn.act {
  background-color: #373737;
  box-shadow: none;
}

#v-tabs-btns .tab-btn:focus {
  outline: none;
}

.ra-lbl, .ra-cnt {
  color: #fff;
}

.ra-lbl {
  display: inline-block;
}

.ra-cnt {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  line-height: 10px;
  width: 20px;
  height: 20px;
  margin-right: 5%;
  background-color: #070707;
  border-radius: 50%;
}

.v-tabs-content {
  position: relative;
  display: none;
  width: 100%;
  height: calc(100% - 45px);
  background-color: #373737;
  border-top: 1px solid #474747;
}

#ta-list-users {
  text-align: center;
}

.tb-users #ta-list-users {
  display: block;
}

.tb-chat #ta-list-chat {
  display: block;
}

.tb-logs #ta-list-logs {
  display: block;
}

.ta-ul-list {
  width: 100%;
  height: calc(100% - 64px);
  overflow: auto;
  padding: 20px 13px 20px 13px;
}

#ta-ul-users {
  display: inline-block;
  width: 55%;
  color: #fff;
  line-height: 22px;
  text-align: left;
}

#ta-ul-users li + li {
  margin-top: 7px;
  padding-top: 5px;
  border-top: 1px solid #474747;
}

#ta-ul-chat li {
  width: 100%;
  padding-right: 47%;
}

#ta-ul-chat li + li {
  margin-top: 10px;
}

#ta-ul-chat li.me {
  padding-right: 0;
  padding-left: 47%;
}

.chat-item-cont {
  position: relative;
  width: 100%;
  background-color: #272727;
  border-radius: 13px;
}

#ta-ul-chat li.me .chat-item-cont {
  background-color: #070707;
}

.cha-nik {
  padding: 7px 10px 9px 10px;
  color: #fff;
  background-color: #474747;
  border-radius: 13px 13px 0 0;
}

.ch-tm {
  position: absolute;
  bottom: 10px;
  right: 13px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #78C072;
  text-align: right;
}

.cha-msg {
  padding: 10px 45px 12px 10px;
  line-height: 22px;
  color: #fff;
  background-color: #272727;
  border-radius: 0 0 13px 13px;
}

#ta-ul-chat li.me .cha-msg {
  background: inherit;
  border-radius: 13px;
}

#ta-chat-bot-con {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  padding: 0 13px 0 13px;
}

#ta-chat-inp {
  width: calc(100% - 50px);
  height: 100%;
  padding: 13px;
  resize: none;
  font: inherit;
  background-color: #070707;
  color: #fff;
  border: 1px solid #474747;
  border-width: 1px 0 1px 1px;
  border-radius: 13px 0 0 13px;
  overflow: hidden;
}

#ta-chat-send {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100%;
  background-color: #474747;
  border: 1px solid #474747;
  border-radius: 0 13px 13px 0;
  cursor: pointer;
}

#ta-chat-send:hover {
  background-color: #010911;
}

#ta-ul-logs {
  padding: 20px 0 20px 0;
}

#ta-ul-logs li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 7px 13px 9px;
}

#ta-ul-logs li span {
  float: left;
  font-size: 12px;
  line-height: 18px;
}

#ta-ul-logs li.err {
  background-color: #773311;
}

.lg-msg {
  width: 80%;
}

.lg-tm {
  width: 20%;
  text-align: right;
  color: #a7a7a7;
}

#tb-err-cnt {
  display: none;
  background-color: #731;
}

#tb-err-cnt.sh {
  display: inline-flex;
}

.talker-uset {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.talker-user-icos {
  display: flex;
  align-items: center;
  line-height: 0;
}

.talker-user-icos .ra-ico.cam,
.talker-user-icos .ra-ico.rec {
  margin-left: 5px;
}

.talker-uset .ico-h {
  display: none;
}

.talker-uset.mic .ico-h.mic {
  display: inline-block;
}

.talker-uset.mic .ico-c.mic {
  display: none;
}

.talker-uset.cam .ico-h.cam {
  display: inline-block;
}

.talker-uset.cam .ico-c.cam {
  display: none;
}

.talker-uset.rec .ico-h.rec {
  display: inline-block;
}

/*
* MEDIA
*/

@media (max-width: 1200px) {
  #v-tabs {
    width: 45%;
  }
}

@media (max-width: 1024px) {
  #v-tabs {
    width: 55%;
  }
}

@media (max-width: 640px) {
  #v-tabs.sh {
    top: 65px;
  }

  #v-tabs {
    height: calc(100% - 65px);
    width: 100%;
    border-radius: 0;
  }

  #v-tabs-btns .tab-btn {
    font-size: 12px;
    line-height: 14px;
  }

  .v-tabs-content {
    height: calc(100% - 35px);
  }
}
