#v-tabs {
  position: absolute;
  z-index: 5;
  width: 45%;
  max-width: 800px;
  right: 50%;
  transform: translateX(50%);
  top: -100%;
  height: calc(100% - 75px);
  transition: top 0.2s ease, opacity 0.1s ease;
  opacity: 0;
}

#v-tabs.sh {
  opacity: 1;
  top: 75px;
}

.tab-btn-han.act {
  background-color: #070707;
  box-shadow: 0px 0px 1px inset #777;
  outline: none;
  border: none;
}

.tab-btn-han.notif:before,
#v-tabs-btns .tab-btn.notif:before {
  position: absolute;
  content: '';
  top: 3px;
  right: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff5511;
}

#v-tabs-btns .tab-btn {
  position: relative;
  float: left;
  width: 25%;
  background-color: #171717;
  border-color: #474747;
  border-style: solid;
  border-width: 0;
  border-radius: 13px 13px 0 0;
}

#v-tabs-btns .tab-btn + .tab-btn {
  border-width: 1px 0 0 1px;
}

#v-tabs-btns .tab-btn:not(.act):hover {
  background-color: #303030;
}

#v-tabs-btns .tab-btn:first-child {
  border-width: 1px 0 0 1px;
}

#v-tabs-btns .tab-btn:last-child {
  border-width: 1px 1px 0 1px;
}

#v-tabs-btns .tab-btn.act {
  background-color: #373737;
}

#v-tabs-btns .tab-btn:focus {
  outline: none;
}

.ra-lbl {
  display: inline-block;
  color: #78C072;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
}

.v-tabs-content {
  position: relative;
  display: none;
  width: 100%;
  height: calc(100% - 45px);
  background-color: #373737;
  border: 1px solid #474747;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 13px 13px;
}

.mid {
  text-align: center;
}

.middle-container {
  display: inline-block;
  width: 65%;
  color: #fff;
  line-height: 22px;
  text-align: left;
}

.tb-users #ta-list-users {
  display: block;
}

.tb-chat #ta-list-chat {
  display: block;
}

.tb-logs #ta-list-logs {
  display: block;
}

#ta-settings {
  text-align: center;
}

.tb-settings #ta-settings {
  display: block;
}

.ta-ul-list {
  width: 100%;
  height: calc(100% - 65px);
  overflow: auto;
  padding: 20px 13px 20px 13px;
}

.ta-set-list {
  background-color: #171717;
  color: #e7e7e7;
  border-radius: 13px;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

.set-header {
  padding: 30px 0 10px 0;
  font-weight: bold;
  color: #78C072;
}

.set-header span {
  display: inline-block;
}

.set-header-ttl {
  font-weight: normal;
  color: #a7a7a7;
}

.set-header-val {
  margin-left: 7px;
  font-weight: 500;
  color: #78C072;
}

.ta-set-list li {
  display: flex;
  align-items: center;
  padding: 7px 10px 7px 10px;
  cursor: pointer;
}

.ta-set-list li + li {
  border-top: 1px solid #272727;
}

.set-circ {
  position: relative;
  width: 16px;
  height: 16px;
  border: 2px solid #979797;
  border-radius: 50%;
  margin-right: 7px;
}

.sel .set-circ::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
}

.ta-set-list li:hover {
  color: #fff;
  background-color: #272727;
}

.ta-set-list li:hover .set-circ {
  border-color: #d7d7d7;
}

#ta-ul-chat li {
  width: 100%;
  padding-right: 47%;
}

#ta-ul-chat li + li {
  margin-top: 10px;
}

#ta-ul-chat li.me {
  padding-right: 0;
  padding-left: 47%;
}

.chat-item-cont {
  position: relative;
  width: 100%;
  background-color: #272727;
  border-radius: 13px;
}

#ta-ul-chat li.me .chat-item-cont {
  background-color: #070707;
}

.cha-nik {
  padding: 7px 10px 9px 10px;
  color: #fff;
  background-color: #474747;
  border-radius: 13px 13px 0 0;
}

.ch-tm {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #78C072;
  text-align: right;
}

.cha-msg {
  padding: 10px 45px 12px 10px;
  line-height: 22px;
  color: #fff;
  background-color: #272727;
  border-radius: 0 0 13px 13px;
}

#ta-ul-chat li.me .cha-msg {
  background: inherit;
  border-radius: 13px;
}

#ta-chat-bot-con {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  padding: 0 13px 0 13px;
}

#ta-chat-inp {
  width: calc(100% - 50px);
  height: 100%;
  padding: 13px;
  resize: none;
  font: inherit;
  background-color: #070707;
  color: #fff;
  border: 1px solid #474747;
  border-width: 1px 0 1px 1px;
  border-radius: 13px 0 0 13px;
  overflow: hidden;
}

#ta-chat-inp:focus {
  outline: 2px dashed #575757;
}

#ta-chat-send {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100%;
  background-color: #474747;
  border: 1px solid #474747;
  border-radius: 0 13px 13px 0;
  cursor: pointer;
}

#ta-chat-send:hover {
  background-color: #010911;
}

#ta-ul-logs li {
  justify-content: space-between;
  color: #fff;
}

#ta-ul-logs li span {
  float: left;
  font-size: 12px;
  line-height: 18px;
}

#ta-ul-logs li.err {
  color: #f51;
}

.lg-msg {
  width: 80%;
}

.lg-tm {
  width: 20%;
  text-align: right;
  color: #a7a7a7;
}

.talker-uset {
  justify-content: space-between;
}

.talker-user-icos {
  display: flex;
  align-items: center;
  line-height: 0;
}

.talker-user-icos .ra-ico.cam,
.talker-user-icos .ra-ico.rec,
.talker-user-icos .ra-ico.crec {
  margin-left: 5px;
}

.talker-uset .ico-h {
  display: none;
}

.talker-uset.mic .ico-h.mic {
  display: inline-block;
}

.talker-uset.mic .ico-c.mic {
  display: none;
}

.talker-uset.cam .ico-h.cam {
  display: inline-block;
}

.talker-uset.cam .ico-c.cam {
  display: none;
}

.talker-uset.rec .ico-h.rec {
  display: inline-block;
}

.talker-uset.crec .ico-h.crec {
  display: inline-block;
}

/*
* MEDIA
*/

@media (max-width: 1200px) {
  #v-tabs {
    width: 45%;
  }
}

@media (max-width: 1024px) {
  #v-tabs {
    width: 55%;
  }

  .middle-container {
    width: 85%;
  }
}

@media (max-width: 640px) {
  #v-tabs {
    width: 100%;
    transform: none;
    left: 0;
    right: 0;
  }

  #v-tabs-btns .tab-btn {
    font-size: 12px;
    line-height: 14px;
  }
}
