{{ define "content" }}
  <div id="ws-main">
    <div id="talkers" class="clearfix"></div>
  </div>
{{ end }}

{{ define "styles" }}
  <link rel="stylesheet" type="text/css" href="/static/css/wschat/ix.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/wschat/room.css" />
{{ end }}

{{ define "scripts" }}
  {{ $ob := (index . "ob") }}
  <script>
    window.VIRT_OB = JSON.parse({{ safe $ob }});
  </script>
  <script src="/static/js/wschat/saver_client.js"></script>
  <script src="/static/js/wschat/resie.js"></script>
  <script src="/static/js/wschat/talkerhandler.js"></script>
  <script src="/static/js/wschat/wschat.js"></script>
  <script src="/static/js/wschat/virt.js"></script>
{{ end }}
